<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">密碼產生器</h1>

      <div class="field">
        <label>密碼長度</label>
        <input class="input" (input)="onChangeLength($event.target.value)" />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" />
            使用字母
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" />
            使用數字
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" />
            使用符號
          </label>
        </div>
      </div>

      <button [disabled]="
          !(length && (includeLetters || includesSymbols || includeNumbers))
        " (click)="onButtonClick()" class="button is-link is-fullwidth">
        產生
      </button>


      <div class="box"  *ngIf="password">
        <label>你的密碼</label>
        <input class="input" [value]="password" />
        <button
        (click)="onButtonClear()"
        class="button is-link is-fullwidth"
        >
          清除
        </button>
      </div>
    </div>
  </div>
</div>
